*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 113px;

}
.logo{

    background-image: url(img/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/** box2**/
.address-1{
 color: #cccccc;
 font-size: 0.8rem ;
 margin-left: 15px;
}

.address-2{
   font-size: 1rem;
   margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/**box3**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 3px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px ;
    border: none;
}
.nav-search:hover{
    border: 2px solid orange;
}

.search-input{
    width:  100%;
    font-size: 1rem;
    border: none;
    outline: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #fedb68;
    border-top-right-radius:3px ;
    border-bottom-right-radius: 3px;
}

/**box4**/
span{
font-size: 0.7rem;

}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
} 

/**box 5**/
.nav-cart i{ 
   font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/**panel**/
.panel{
    height: 40px;
    background-color: #222f3f;
    display: flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;


}
.panel-option p{
    display:inline;
    margin-left: 15px;
}
.panel-option{
    width: 70%;
    font-size: 0.85rem;

}
.panel-deals{
    font-size: 0.85rem;
}

/**hero section**/
.hero-section{
    background-image: url(img/hero_image.jpg);
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-mess{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    bottom: 25px;
    width: 80%;
    margin-bottom: 25px;

}
.hero-mess a{
      color: #007185;
}

/**Shop-section**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    
}
.box{
     border: 2px solid none;
     border-radius: 15px;
     height: 400px;
     width: 22%;
     background-color: white;
     padding: 20px 0px 15px;
     margin: 15px;
     
     
}

.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1 rem;

}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}

.box-content p{
    color: #007185;
}

.foot-panel1{
   background-color: #374758;
   color: white;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 0.85rem;
}

.foot-panel2{
    background-color: #222f3d;
    display: flex;
    color: white;
    display: flex;
    height: 300px;
    justify-content: space-evenly;

}
ul{
    margin-top: 20px;
}
.foot-panel2 ul a{
        display: block;
        font-size: 0.85rem;
        margin-top: 10px;
        color: #dddddd;
}

.foot-panel3{
   background-color: #222f3d;

    color: white;
    height: 50px;
    border-top: 0.5px solid white;
    height: 68px;
    justify-items: center;
    align-items: center;
}

.logo{
    background-image: url(img/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
    
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height:80px;
    

    /*display: flex;
    justify-content: center;
    align-items: center;*/

}
.pages{
   font-size: 0.7rem;
   text-align: center;
  padding-top: 25px;
}
.copyright{
    padding-top: 5px;
font-size: 0.7rem;
text-align: center;

}